<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="crProject.Properties.Settings.librairieConnectionString"
            connectionString="CQhCGBucYtWhIUvsYjqGz4lqvgjhe6C3BOu9fQfuzwX4fM2qwwqWdVZVGuvl7MM+RCpc7YTNDJ9nE5jVxWnRvYOerxodlbWXUCSepmcVxLOtWnmQX3SsgA=="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>